JOBHUNTER_DB_HOST=localhost
JOBHUNTER_DB_PORT=5434
JOBHUNTER_DB_NAME=jobhunter
JOBHUNTER_DB_USER=jobhunter
JOBHUNTER_DB_PASSWORD=jobhunter

JOBHUNTER_LOGGING_PATH=logs
JOBHUNTER_LOGGING_CONSOLE_LEVEL=INFO
JOBHUNTER_LOGGING_FILE_LEVEL=DEBUG

HH_CLIENT_ID=KRLC5IVGCVG50S24L3JMUV8B5CU93QHS70O9IP91DM2G36LSM9S2R9D14NUFAGG9
HH_CLIENT_SECRET=GPVKQ9SR62QKTCVQFETHTIIKIE3I9TLM0DO8SH7IS0S75LFL98L80AM1OI9IABGC
HH_REDIRECT_MODE=CUSTOM_URI_SCHEME
HH_REDIRECT_URI=jobhunterpro://oauth/hh/callback
HH_CUSTOM_SCHEME_FORWARD_PORT=54347
HH_API_BASE_URL=https://api.hh.ru
HH_API_ALLOW_NON_HH_BASE_URL=false
HH_CALLBACK_PORT=54345
HH_OAUTH_STATE_BYTE_LENGTH=32
HH_USER_AGENT=JobHunterPro/0.1.0 (your-email@example.com)

HABR_CAREER_API_BASE_URL=https://career.habr.com/api
HABR_CAREER_API_ALLOW_NON_HABR_CAREER_BASE_URL=false
HABR_CAREER_OAUTH_AUTHORIZATION_URL=https://career.habr.com/integrations/oauth/authorize
HABR_CAREER_OAUTH_TOKEN_URL=https://career.habr.com/integrations/oauth/token
HABR_CAREER_CLIENT_ID=kpgRrUQ5cOx-6bMCQPUoULEuzH3nT9MRj6RbPUd4KRQ
HABR_CAREER_CLIENT_SECRET=r5tRiMoe3wNfsjq_h3M9IxpattBnjUoLh90Ji-yeIyA
HABR_CAREER_OAUTH_ALLOW_NON_HABR_CAREER_URLS=false
HABR_CAREER_REDIRECT_URI=jobhunterpro://oauth/habr/callback
HABR_CAREER_OAUTH_STATE_BYTE_LENGTH=32
HABR_CAREER_USER_AGENT=JobHunterPro/0.1.0 (your-email@example.com)